<div class="container w-75 text-center">
  <%= simple_form_for @interval do |f|%>
    <%= f.input :minimum, label: "Mínimo"%>
    <%= f.input :maximum, label: "Máximo" %>
    <%= f.submit "Cacular", class: "btn btn-primary"%>
  <% end %>
</div>
